<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex mx-3 w-100">
        <img src="images/icono.png" style="height:40px">
        <a class="navbar-brand mx-3" href="/users">NPSYDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/admin">Panel de administrador</a>
            </div>
        </div>
    </div>
</nav>
<div class="container w-50">
    <div class="my-5">
        <h1 class="text-center">NPSYDB</h1>
        <h3 class="text-center">Administrador</h3>
    </div>
    <div>
        <a href="/admin/pruebas">
            <div class="btn btn-info b-dominio d-block mx-5 my-2">
                <h5>Pruebas</h5>
            </div>
        </a>
        <a href="/admin/dominios">
            <div class="btn btn-info b-dominio d-block mx-5 my-2">
                <h5>Dominios</h5>
            </div>
        </a>
        <a href="/admin/propositos">
            <div class="btn btn-info b-dominio d-block mx-5 my-2">
                <h5>Propósitos</h5>
            </div>
        </a>
        <a href="/admin/usuarios">
            <div class="btn btn-info b-dominio d-block mx-5 my-2">
                <h5>Usuarios</h5>
            </div>
        </a>
    </div>
</div>