<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex mx-3 w-100">
        <img src="./../images/icono.png" style="height:40px">
        <a class="navbar-brand mx-3" href="/users">NPSYDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/admin">Panel de administrador</a>
            </div>
        </div>
    </div>
</nav>
<div class="container w-50">
    <div class="my-5">
        <h1 class="text-center">NPSYDB</h1>
        <h3 class="text-center">Administrar usuarios</h3>
    </div>
    <div class="my-5">
        <table>
            {{#each registros}}
            <tr class="border-bottom">  
                <td class="w-100">{{username}}</td>
                <td><a class="btn btn-info" href="/admin/usuarios/update/{{id}}">Editar</a></td>
                <td><a class="btn btn-danger" href="/admin/usuarios/delete/{{id}}">Eliminar</a></td>
            </tr>
            {{/each }}
        </table>
    </div>
</div>