<div class="container w-50">
    <div class="my-5">
        <h1 class="text-center">Crear un nuevo dominio</h1>
    </div>
    <div class="mx-auto">
        <form method="post" action="/admin/dominios/create">
            <div class="form-group">
                <label for="es">Dominio (es)</label>
                <input type="text" class="form-control" name="es" id="es">
            </div>
            <div class="form-group">
                <label for="en">Dominio (en)</label>
                <input type="text" class="form-control" name="en" id="en">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-info mt-3">Crear</button>
            </div>
        </form>
    </div>
</div>