<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex mx-3 w-100">
        <img src="images/icono.png" style="height:40px">
        <a class="navbar-brand mx-3" href="/">NPSYDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/registro">Registro</a>
                <a class="nav-link" href="/login">Iniciar sesi칩n</a>
            </div>
        </div>
    </div>
</nav>
<div class="container w-50">
        <div class="my-5">
            <h1 class="text-center">Iniciar sesi칩n</h1>
        </div>
        <div class="w-50 mx-auto">
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="pass">Contrase침a</label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-info mt-3">Iniciar sesi칩n</button>
                </div>
            </form>
            <p class="text-danger text-center mt-3">{{message}}</p>
        </div>
</div>