<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex mx-3 w-100">
        <img src="./../images/icono.png" style="height:40px">
        <a class="navbar-brand mx-3" href="/">NPSYDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/registro">Registro</a>
                <a class="nav-link" href="/login">Iniciar sesión</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="my-5">
        <h1>Pruebas que coinciden con este criterio</h1>
    </div>
    <div class="d-flex">
        <div>
            <h3>{{es}}</h3>
        </div>
        <div class="mb-5 w-75">
            {{#each pruebas}}
            <div class="d-flex py-3 my-3 border-bottom">
                <a href="/prueba/{{id}}"><h4 class="btn border mx-3 px-2 py-2 rounded-pill btn-pill" style="width:150px;height:45px">{{acronimo}}</h4></a>
                <div class="d-flex align-items-center">
                    <h5>{{nombre_principal}}</h5>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="d-none container d-flex flex-wrap justify-content-start px-5 w-25">
        </div>
    </div>
</div>
