<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex mx-3 w-100">
        <img src="./../images/icono.png" style="height:40px">
        <a class="navbar-brand mx-3" href="/">NPSYDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/registro">Registro</a>
                <a class="nav-link" href="/login">Iniciar sesión</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="my-5">
        <h1>
            {{prueba.nombre_principal}}
        </h1>
    </div>
    <div class="my-5 w-75">
        <h5 class="mb-4">Publicaciones asociadas</h5>
        {{#each articleList}}
        <div class="d-flex border-bottom py-2">
            <p>{{title}}</p>
        </div>
        {{/each}}
    </div>
</div>